// Featherlight - ultra slim jQuery lightbox                      //
// Version 1.7.13 - http://noelboss.github.io/featherlight/       //
//                                                                //
// Copyright 2018, NoÃ«l Raoul Bossart (http://www.noelboss.com)  //
// MIT Licensed.                                                  //
//                                                                //
html.with-featherlight {
  overflow: hidden;
  margin-right: 16px;
}

.featherlight {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  text-align: center;
  white-space: nowrap;
  background: rgb(0, 0, 0, 0);
  cursor: zoom-out;
}

.featherlight:last-of-type {
  background: rgb(0, 0, 0, 0.8);
}

.featherlight::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  background: #fff;
  cursor: auto;
  white-space: normal;
  padding: 0;
  border-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-height: unset;
  overflow: visible;
}

.featherlight .featherlight-inner {
  display: block;
}

.featherlight link.featherlight-inner,
.featherlight script.featherlight-inner,
.featherlight style.featherlight-inner {
  display: none;
}

.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  border: 0;
  padding: 0;
  top: -25px;
  background: none;
  line-height: 1;
  font-size: 24px;
  right: -3px;
  color: white;
  transition: color 0.35s ease-in-out;

  &:hover {
    color: red;
  }
}

.featherlight .featherlight-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.featherlight .featherlight-image {
  width: 100%;
}

.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;

  @media only screen and (width <= 1024px) {
    padding: 0;
    border-bottom: 0;
  }
}

.featherlight iframe {
  border: 0;
  height: 90vh;
  width: 95vw !important; // due to inline width property
  max-width: 1920px;
  max-height: 1080px;
}

.featherlight * {
  box-sizing: border-box;
}

@media only screen and (width <= 1024px) {
  .featherlight .featherlight-content {
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}

@media print {
  html.with-featherlight > * > :not(.featherlight) {
    display: none;
  }
}

.fExpand {
  float: right;
  z-index: 1;
  position: relative;

  .fa {
    margin: 0;
  }
}
